fastapi
uvicorn
sqlalchemy
pydantic[email]
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-dotenv
alembic
supabase
psycopg2-binary
pydantic-settings
argon2-cffi
